@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;}
@font-face {
    font-family: DrukTrial;
    src: url(../fonts/DrukCond-Super-Trial.otf);
}

.horizontal-sliders{
    font-family: 'DrukTrial';
    display: flex;
    flex-wrap: nowrap;
    width: 400%;
    overflow-x:hidden;
    height: 100vh;
}

.main {
    overflow-x: hidden;
}
.slide{
    height: 100%;
    width: 100vw;
}
.slide:nth-child(2) {
    font-size: 100px;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide:nth-child(2) p {
    text-wrap: nowrap;
}
.slide:nth-child(3) {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-content: center;
}
.slide:nth-child(3) img {
    width: 50%;
    height: auto;
    object-fit: contain;
}
.char {
    color: #e9e9d8;
}


  /* .main{
    overflow-x:hidden;
  }
  .horizontal-sliders{
    display:flex;
    flex-wrap:no-wrap;
    width: 500%;
    overflow-x:hidden;
    height: 100vh;
  }

  .slide{
    height:100vh;
    width:100vw;
  }
  
  .slide:nth-child(2n){
    background-color:aqua;
    width: 50%;
  }
  .next-block{
    height:100vh;
    background:blue;
  } */

  .next-block {
    height: 50vh;
    background-color: #316e61;
  }





 

body {
     cursor: none; 
}
/* body::-webkit-scrollbar {
    display: none;
} */
nav  {
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e9e9d8;
    z-index: 100;
    
    
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    width: 90%;
    list-style-type: none;
    z-index: 100;
   
}
nav ul li:nth-child(1) {
    font-family: DrukTrial;
    font-size: 50px;
    text-transform: uppercase;
}
nav ul li:nth-child(2) {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
    line-height: 12px;
    
}
nav ul li:nth-child(2)::after {
    content: '';
    width: 0;
    background-color: #000;
    height: 2px;
    display: flex;
    margin-top: 2px;
    
}
nav ul li:nth-child(2):hover::after {
    animation: underLine 0.8s cubic-bezier(0.76, 0, 0.24, 1) 0.1s 1 normal forwards;
}
@keyframes underLine {
    0% {
        width: 25%;
    }
    100% {
        width: 100%;
    }
}


.main {
    width: 100%;
    height: 100vh;
    background-color: #468578;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.hero-content {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    
    
    

}

.home {
    height: 100%;
    width: 100vw;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__title {
    color: #e9e9d8;
    font-family: DrukTrial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
    
}


.home__title .grid-item:nth-child(1), .home__title .grid-item:nth-child(2) {
    font-size: 100px;
    line-height: 80px;
    width: 100%;
    text-align: center;
}





.cursor-follower {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: #000;
    z-index: 98;
    border-radius: 50%;
    pointer-events: none;

   
}

footer {
    width: 100vw;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #e9e9d8;
    font-family: 'Roboto', sans-serif;
 
   
   
    bottom: 0;
    z-index: 1;

}
footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    max-width: 1400px;
    width: 90%;
    font-weight: 300;
    
}
footer ul li:nth-child(1) {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
footer ul li ion-icon {
    font-size: 50px;
    font-weight: lighter;
    padding: 5px;
}
footer ul li:nth-child(2) {
    border-radius: 50%;
    border:  1px solid #e9e9d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*NAVIGATION MENU*/

.menu {
    top: -100vh;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #316e61;
    z-index: 99;
    font-family: DrukTrial;
    font-size: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: ease 0.4s forwards;
}

.menu-wrapper {
   
    max-width: 1400px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 80%;
  
}

.menu__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    position: relative;
    
   
   
    

}
.menu__item a {
    text-decoration: none;
   
   
   
    
}

.menu__span {
    text-decoration: none;
    color: white;
    display: inline-block; /* Ensures inline-block so that transform properties work */
    transform: translate(0, 0); /* Initial transform to ensure the correct starting point */
}

.menu__line {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
}
.line {
    height: 2px;
    width: 100%;
    background-color: #e9e9d8;
}



.show {
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}
.hide {
    animation: slide-out-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
}
.opened {
    color: #e9e9d8;
}


@keyframes slide-in-top {
    0% {
      top: -100vh;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes slide-out-top {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
      top: -100vh;
      opacity: 0;
    }
  }
 


/* Tablet viewport */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
  .home__title .grid-item:nth-child(1), .home__title .grid-item:nth-child(2) {
    font-size: 170px;
    line-height: 140px;
}
.slide:nth-child(2) {
    font-size: 170px;
}
.inner-grid {
    font-size: 75px;
    line-height: 58px;
}
.menu-wrapper{
    align-items: center;
}
.menu__line {
    width: 70%;
}
.menu__item {
    width: 70%;
}
nav ul li:nth-child(1) {
    font-size: 70px;
}
nav ul li:nth-child(2) {
    font-size: 18px;
}
}

/* Desktop viewport */
@media only screen and (min-width: 1024px) {
    .home__title .grid-item:nth-child(1), .home__title .grid-item:nth-child(2) {
        font-size: 220px;
        line-height: 180px;
    }
    .slide:nth-child(2) {
        font-size: 220px;
    }
    .inner-grid {
        font-size: 91px;
        line-height: 72px;
    }
    .menu__item {
        width: 70%;
    }
    .menu-wrapper{
        align-items: center;
    }
    .menu__line {
        width: 70%;
    }
    nav ul li:nth-child(1) {
        font-size: 70px;
    }
    nav ul li:nth-child(2) {
        font-size: 22px;
    }
    footer ul li:nth-child(1) {
        display: flex;
        flex-direction: column;
        font-size: 22px;
    }
    footer ul li ion-icon {
        font-size: 60px;
        font-weight: lighter;
        padding: 5px;
    }
    footer ul li:nth-child(2) {
        border-radius: 50%;
        border: 1px solid #e9e9d8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}




.scrolling-text {
    width: 150vw;
}